<<<<<<< HEAD
@import "tailwindcss";

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
=======
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

body {
    font-family: 'Poppins', Helvetica, sans-serif;
}
:root {
  --text: #FDFFE0;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --primary-color : #072821; 
  --secondary-color: #111B30;
  --tertiary-color: #d86125;
  --button-color: #BA6300;
  --background-color: #1C2D24;
>>>>>>> 3b4f0450ecf1bd65bea1da84344f89734a1eaeca
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
}